/* Big Tablets to 1200px (width smaller than the 1140px row defined in css) */
@media only screen and (max-width: 1200px){
    .main-nav{
        width: 100%;
        padding: 0 3%;
    }
    .row{ padding: 0 3%; }

}

/* Small Tablets to Big Tablets: from 768px - 1023px */
@media only screen and (max-width: 1023px){
    body{ font-size: 18px;}
    section{padding: 30px 0;}

    .long-p{
        padding: 10px 0px;
        width: 90%;
        margin-left: 5%;
    }

    .main-nav {
        margin-top: 0px;
    }
    .main-nav li {
        display: inline-block;
        margin-left: 20px;
        padding-right: 20px;
    }
 
}

/* Small Phones to Small Tablets: from 481px - 767px */
@media only screen and (max-width: 767px){

}

/* Small Phones: from 0px - 480px */
@media only screen and (max-width: 480px){

}